.feedback{
    background: linear-gradient(to right, rgb(154, 221, 141), rgb(95, 189, 236));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.seprate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    padding: 60px;
    background-color: inherit;
    border: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}

.button:hover{
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

img{
    padding: 10px;
}

h2{
    padding-top: 20px;
}